* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #938c8c;
  color: #333;
  font-family: 'Times New Roman', Times, serif;
  line-height: 1.6;
}

nav {
  text-align: center;
  background-color: #444;
  padding: 1rem;
}

nav ul {
  list-style: none;
  display: inline-block;
  padding: 0;
}

nav ul li {
  display: inline;
  margin: 0 1rem;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 1.125rem;
  font-weight: bold;
  font-family:'Itim','Arial', sans-serif;
}

nav ul li a:hover {
  color: #ffcc00;
}

main {
  padding: 1.25rem;
}

ul {
  list-style-type: disc; 
  margin-left: 1.25rem; 
}

li {
  margin-bottom: 0.3125rem; 
}

section {
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 0.3125rem;
  padding: 0.9375rem; 
  margin: 1.25rem 0;
  transition: background-color 0.3s ease;
}

section:hover {
  background-color: #ffcc00; 
}

h1 {
  text-align: center; 
  margin: 0 auto; 
  background-color: #000; 
  color: #fff; 
  font-size: 2.25rem; 
  margin-bottom: 1.25rem; 
  padding: 0.625rem;
  width: fit-content; 
}
.title-container {
  text-align: center; 
  margin: 0 auto; 
  width: fit-content; 
}

h2 {
  background-color: #000; 
  color: #fff; 
  font-size: 1.75rem; 
  margin-bottom: 0.625rem; 
  padding: 0.3125rem; 
}

h3 {
  font-size: 1.5rem; 
  color: #000; 
  font-weight: bold; 
  margin-bottom: 0.625rem; 
}

.hobby-container {
  text-align: center;
  display: flex; 
  flex-direction: column; 
  align-items: center; 
  justify-content: center; 
}

.hobby-container img {
  width: 400px;
  height: auto; 
  border: 5px solid black;
  border-radius: 0.3125rem; 
  margin-bottom: 1rem; 
}

.hobby-container p {
  max-width: 80%; 
  margin-top: 0; 
  text-align: center;
}

.iframe-container {
  display: flex;              
  justify-content: center;    
  align-items: center;        
  margin: 0 auto;             
}

iframe {
  max-width: 100%;           
  height: auto;               
}